input { display: none; }
input + label { display: inline-block }

input ~ .tab { display: none }
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5 { display: block; }

input + label {
  border: 1px solid rgb(158, 156, 255);
  background: rgb(32, 26, 49);
  padding: 4px 12px;
  border-radius: 5px 5px 0 0;
  position: relative;
  top: 1px;
}
input:checked + label {
  background: rgb(32, 26, 49);
  border-bottom: 1px solid transparent;
}
input ~ .tab {
  border-top: 1px solid rgb(158, 156, 255);
  padding: 12px;
}

body {
  font-family: "Secular One", sans-serif;
  background-color: rgb(32, 26, 49);
  height: 100vh;
  width: 100%;
  color: rgb(153, 182, 236);
}


.card {
  background-color: #2c2436;
  border-radius: 12px 12px 12px;
  margin-top: 1rem;
  width: 185px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  transition: all 0.44s;
}

.cards {
  display: flex;
  min-width: 9rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card img {
  border-radius: 12px;
  max-width: 185px;
}

.card-body {
  background-color: #282230;
  border-radius: 0px 28% 12px 12px;
}

